# @generated: @expo/next-adapter@2.1.0
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# debug
yarn-debug.log*
yarn-error.log*

# macOS / OSX
.DS_Store
/ios/Pods/
*.hmap
*.ipa

# misc
.env*

# Next.js / Vercel
.next
public/sitemap.xml
.expo-shared
.vercel

# ...............................

# OTTO.CUSTOM
_archive/
_nogit/
_notused/
_raw/
build/
deploy/
dist/
out/
public/
.vscode/
.firebase/
.cache

# Expo
.expo
__generated__
web-build/
web-report/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Bundle artifact
*.jsbundle

